@import url("../common.css");

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* padding: 20px; */
}



header {
  background-color: #0c2461;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-size: 36px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

/* .recipe-list{

  } */

.recipe-item {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.recipe-item img{
width: 150px;
height: 150px;
object-fit: cover;
}

.recipe-item h2{
  font-size: 20px;
  padding: 10px;
  min-width: 200px;
}

.recipe-item p {
  padding: 10px;
  color: #777777;
}

.recipe-item a{
  background-color: #0c2461;
  color: #ffffff;
  min-width: 150px;
 padding: 10px;
 text-transform: uppercase;
 font-size: 14px;
 transition: background-color 300ms ease-in-out;
}

.recipe-item a:hover{
  background-color: #1e3799;
}

@media screen and (max-width:768px) {
  .recipe-item{
    flex-wrap: wrap;
  }
  
.recipe-item img {
  width: 300px;
  height: 200px;
}

.recipe-item h2{
  min-width: 300px;
}

}